<div class="bg-white shadow rounded-lg mt-6">
  <details class="group">
    <summary class="flex justify-between items-center font-medium cursor-pointer list-none p-6">
      <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-gray-100">Add Member</h3>
      <span class="transition group-open:rotate-180">
        <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path></svg>
      </span>
    </summary>
    <div class="text-neutral-600 px-6 pb-6 group-open:animate-fadeIn">
      <%= render "admin/unit_people/form", unit: unit, unit_person: unit_person %>
    </div>
  </details>
</div>
