<h1>Welcome back to VKDBY, <%= @user.name %>!</h1>
<p>
  You have been registered as a user on VKDBY.<br>
  Here are your login details:
</p>
<p>
  Email: <%= @user.email %><br>
  Temporary Password: <%= @temp_password %>
</p>
<p>
  Please login at <%= link_to 'Login Page', @url %> and change your password immediately.
</p>
<p>Thanks, <br>VKDBY Team</p>