<section class="mt-16 bg-slate-50 dark:bg-slate-900/50 rounded-2xl p-6 border border-slate-100 dark:border-slate-700">
  <h2 class="text-xs font-bold uppercase tracking-wider text-slate-400 dark:text-slate-500 mb-4 tracking-[0.2em] border-b border-slate-200 dark:border-slate-800 pb-2">Management Information</h2>
  <dl class="grid gap-2 text-xs">
    <div class="flex justify-between items-center">
      <dt class="font-bold text-slate-400 dark:text-slate-500 italic">Key</dt>
      <dd><code class="bg-white dark:bg-slate-800 px-2 py-0.5 rounded border border-slate-200 dark:border-slate-700 font-mono text-slate-500 dark:text-slate-400"><%= @resource.key %></code></dd>
    </div>
    <% if @resource.old_key.present? %>
      <div class="flex justify-between items-center">
        <dt class="font-bold text-slate-400 dark:text-slate-500 italic">Old Key</dt>
        <dd><code class="bg-white dark:bg-slate-800 px-2 py-0.5 rounded border border-slate-200 dark:border-slate-700 font-mono text-slate-500 dark:text-slate-400"><%= @resource.old_key %></code></dd>
      </div>
    <% end %>
  </dl>
</section>
